*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #773141;
}

.main{
    width: 600px;
    height: 400px;
    /* background-color: #D7CEC9; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    /* gap: 10px; */
    overflow: hidden;
    /* gap: 10px; */
}

.box1{
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px #9d4f61 solid;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    flex-shrink: 0;
    transition: 1s;
    padding: 10px;
    
}

.box1 h3{
    padding: 5px;
}

.box1 p{
    padding: 5px;
    font-size: 14px;
}

.buttons-div{
    padding: 8px;
}

.buttons-div button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn1{
    background-color: white;
    color: #9d4f61;
    border: 1px #9d4f61 solid;
}

.btn2{
    background-color: #9d4f61;
    color: white;
    border: 1px white solid;
}

.finalButtons{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    gap: 20px;
}

.finalButtons button{
    padding: 8px;
    width: 80px;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
}